Source: tcp-wrappers
Section: net
Priority: important
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Marco d'Itri <md@linux.it>
Build-Depends: debhelper (>= 8.1.3), dpkg-dev (>= 1.14.8), hardening-includes
Standards-Version: 3.9.2
XS-Pexip-Upstream: http://archive.ubuntu.com/ubuntu/ precise

Package: tcpd
Priority: optional
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libwrap0 (<< 7.6-8)
Description: Wietse Venema's TCP wrapper utilities
 Wietse Venema's network logger, also known as TCPD or LOG_TCP.
 .
 These programs log the client host name of incoming telnet,
 ftp, rsh, rlogin, finger etc. requests.
 .
 Security options are:
  - access control per host, domain and/or service;
  - detection of host name spoofing or host address spoofing;
  - booby traps to implement an early-warning system.

Package: libwrap0
Section: libs
Priority: optional
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: tcpd (<< 7.6.q-20)
Replaces: tcpd (<< 7.6.q-20)
Recommends: tcpd
Description: Wietse Venema's TCP wrappers library
 Wietse Venema's network logger, also known as TCPD or LOG_TCP.
 .
 These programs log the client host name of incoming telnet,
 ftp, rsh, rlogin, finger etc. requests.
 .
 Security options are:
  - access control per host, domain and/or service;
  - detection of host name spoofing or host address spoofing;
  - booby traps to implement an early-warning system.

Package: libwrap0-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libwrap0 (= ${binary:Version}), ${misc:Depends}
Description: Wietse Venema's TCP wrappers library, development files
 Wietse Venema's network logger, also known as TCPD or LOG_TCP.
 .
 These programs log the client host name of incoming telnet,
 ftp, rsh, rlogin, finger etc. requests.
 .
 Security options are:
  - access control per host, domain and/or service;
  - detection of host name spoofing or host address spoofing;
  - booby traps to implement an early-warning system.
