#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

DEB_BUILD_ARCH ?= $(shell dpkg --print-architecture)
ifeq ($(filter-out hurd-%,$(DEB_BUILD_ARCH)),)
  build_target := gnu
else
  ifeq ($(DEB_HOST_ARCH_LIBC),musl)
    build_target := musl
  else
    build_target := linux
  endif
endif

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- COPTS="$(CFLAGS) $(CPPFLAGS)" LDOPTS="$(LDFLAGS)" $(build_target)

override_dh_installdocs:
	dh_installdocs --link-doc=libwrap0

override_dh_installchangelogs:
	dh_installchangelogs CHANGES

override_dh_makeshlibs:
	dh_makeshlibs -- -c4

