#!/usr/bin/make -f

D := $(CURDIR)/debian/tcpd
W := $(CURDIR)/debian/libwrap0
WD := $(CURDIR)/debian/libwrap0-dev

DEB_BUILD_MAINT_OPTIONS=hardening=+bindnow

DEB_BUILD_ARCH ?= $(shell dpkg --print-architecture)
ifeq ($(filter-out hurd-%,$(DEB_BUILD_ARCH)),)
  build_target := gnu
else
  ifeq ($(DEB_HOST_ARCH_LIBC),musl)
    build_target := musl
  else
    build_target := linux
  endif
endif

%:
	dh $@ $(NO_PACKAGE)

override_dh_clean:
	dh_clean shared/

override_dh_auto_build:
	dh_auto_build -- COPTS="$(CFLAGS) $(CPPFLAGS)" LDOPTS="$(LDFLAGS)" $(build_target)

override_dh_installdocs:
	dh_installdocs --link-doc=libwrap0

override_dh_installchangelogs:
	dh_installchangelogs CHANGES

override_dh_makeshlibs:
	mv $W/usr/lib/DEB_HOST_MULTIARCH/ $W/usr/lib/$(DEB_HOST_MULTIARCH)/
	mv $(WD)/usr/lib/DEB_HOST_MULTIARCH/ $(WD)/usr/lib/$(DEB_HOST_MULTIARCH)/
	dh_makeshlibs -- -c4

